# 2.3 MySQL과 Jupyter Notebook 연동

## 2.3.1 pymysql 라이브러리 설치 및 연결

#### 1. pymysql 라이브러리 설치 및 import

In [1]:
# pymysql 라이브러리 설치
!pip install pymysql

Requirement already satisfied: pymysql in c:\users\tsi04\anaconda3\lib\site-packages (1.0.3)

In [2]:
import pymysql

#### 2. Connection 객체 생성

In [3]:
host = '127.0.0.1'  # 로컬 호스트
port = 3306
username = 'root'
password = '0000'

In [4]:
# MySQL Connection
conn = pymysql.connect(host = host,
                       port = port,
                       user = username,
                       password = password,
                       charset='utf8')

In [5]:
conn

#### 3. Cusor 객체 생성

In [6]:
cur = conn.cursor()

In [7]:
cur

## 2.3.2 SQL문 실행

#### 1. DB 생성

In [8]:
# SQL문 실행 - DB 생성
cur.execute('CREATE DATABASE test_db')
conn.commit()

In [9]:
# SQL문 실행 - DB 리스트 확인
cur.execute('SHOW DATABASES')
for data in cur:
    print(data)

# Connection, 커서 객체 종료
cur.close()
conn.close()

('financial_terms',)
('information_schema',)
('lightning_market',)
('mysql',)
('performance_schema',)
('sakila',)
('sys',)
('test_db',)
('testdb',)
('world',)

#### 2. 테이블 생성

In [10]:
# MySQL DB Connection
conn = pymysql.connect(host = host,
                       port = port,
                       user = username,
                       password = password,
                       charset='utf8',
                       database='test_db')

In [11]:
# 테이블 생성 SQL문
sql = '''create table student (
            name varchar(5) primary key,
            address varchar(5),
            birth varchar(11),
            grade int)'''

In [12]:
# SQL문 실행 - 테이블 생성
with conn.cursor() as cur:
    cur.execute(sql)
    conn.commit()

In [13]:
# SQL문 실행 - 테이블 리스트 확인
with conn.cursor() as cur:
    cur.execute('SHOW TABLES')
    conn.commit()

    for data in cur:
        print(data)

('student',)

#### 3. 데이터 저장

In [14]:
# 데이터 저장 SQL문
sql = '''insert into student
         values ('성춘향', '대전', '1995.10.28', 3)'''

# SQL문 실행 - 데이터 저장
with conn.cursor() as cur:
    cur.execute(sql)
    conn.commit()

In [15]:
# 데이터 저장 SQL문
sql = '''insert into student
         values ('홍길동', '광주', '1999.11.12', 2)'''

# SQL문 실행 - 데이터 저장
with conn.cursor() as cur:
    cur.execute(sql)
    conn.commit()

#### 4. 저장된 데이터 확인

In [16]:
# query
sql = '''select * from student'''

# SQL문 실행 - 데이터 확인
with conn.cursor() as cur:
    cur.execute(sql)
    conn.commit()
    
    for data in cur:
        print(data)

('성춘향', '대전', '1995.10.28', 3)
('홍길동', '광주', '1999.11.12', 2)

In [17]:
# MySQL DB Connection 종료
conn.close()