# [3] SQLite3 사용 방법

## [3-1] SQLite3 연결 및 간단 사용법

In [ ]:
import sqlite3

In [ ]:
conn = sqlite3.connect('sqlite_test.db')

In [ ]:
cursor = conn.cursor()

In [ ]:
cursor.execute('SELECT * FROM table_name')

In [ ]:
result = cursor.fetchall()

In [ ]:
conn.close()

## [3-2] SQLite3 사용 예시

In [1]:
import sqlite3

data = {
    'id': [1, 2, 3, 4, 5],
    'name': ['John', 'Alice', 'Bob', 'Kane', 'Jack'],
    'age': [25, 30, 35, 40, 45]
}

# 데이터베이스에 연결
conn = sqlite3.connect('database.db')

# 커서 생성
cursor = conn.cursor()

# people 테이블 생성
cursor.execute('CREATE TABLE people (id INTEGER, name TEXT, age INTEGER)')

# 데이터 삽입
for i in range(len(data['id'])):
    cursor.execute('INSERT INTO people VALUES (?, ?, ?)',
                   (data['id'][i], data['name'][i], data['age'][i]))

# 커밋(변경 사항 저장)
conn.commit()

# 연결 닫기
conn.close()

In [2]:
# 데이터베이스에 연결
conn = sqlite3.connect('database.db')

# 커서 생성
cursor = conn.cursor()

# 데이터 조회
cursor.execute('SELECT * FROM people')
result = cursor.fetchall()

# 조회 결과 출력
for row in result:
    print(row)

# 연결 닫기
conn.close()

(1, 'John', 25)
(2, 'Alice', 30)
(3, 'Bob', 35)
(4, 'Kane', 40)
(5, 'Jack', 45)

In [3]:
# 데이터베이스에 연결
conn = sqlite3.connect('database.db')

# 커서 생성
cursor = conn.cursor()

# 데이터 조회
cursor.execute('SELECT name FROM people')
result = cursor.fetchall()

# 조회 결과 출력
for row in result:
    print(row)

# 연결 닫기
conn.close()

('John',)
('Alice',)
('Bob',)
('Kane',)
('Jack',)