# 4.2 데이터 활용

## 4.2.2 JSON 데이터 크롤링

### 라이브러리 호출

In [1]:
import json
import requests
import pandas as pd

### 데이터 불러오기

In [5]:
key = 'DecodingKey 입력'

In [6]:
url = 'https://apis.data.go.kr/1130000/FftcIndutyJnghdqrtrsStatsService/getIndutyJnghdqrtrsOutStats?'
params = {'serviceKey' : key, 'pageNo' : '1', 'numOfRows' : '15', 'resultType' : 'json', 'yr' : '2021' }

response = requests.get(url, params=params)

In [7]:
content = response.text
content

'{"resultCode":"00","resultMsg":"NORMAL SERVICE","numOfRows":"15","pageNo":"1","totalCount":15,"items":[{"yr":"2021","indutyMlsfcNm":"기타 외국식","jnghdqrtrsIncCnt":60,"jnghdqrtrsIncRt":71.43,"newRgsJnghdqrtrsCnt":76,"newRgsJnghdqrtrsRt":47.5,"rgsRtrcnJnghdqrtrsCnt":16,"rgsRtrcnJnghdqrtrsRt":10,"jnghdqrtrsAvrgBsnPdVal":"5년 7개월"},{"yr":"2021","indutyMlsfcNm":"기타 외식","jnghdqrtrsIncCnt":407,"jnghdqrtrsIncRt":57.57,"newRgsJnghdqrtrsCnt":533,"newRgsJnghdqrtrsRt":43.62,"rgsRtrcnJnghdqrtrsCnt":108,"rgsRtrcnJnghdqrtrsRt":8.84,"jnghdqrtrsAvrgBsnPdVal":"6년 7개월"},{"yr":"2021","indutyMlsfcNm":"분식","jnghdqrtrsIncCnt":230,"jnghdqrtrsIncRt":65.16,"newRgsJnghdqrtrsCnt":308,"newRgsJnghdqrtrsRt":48.73,"rgsRtrcnJnghdqrtrsCnt":49,"rgsRtrcnJnghdqrtrsRt":7.75,"jnghdqrtrsAvrgBsnPdVal":"6년 1개월"},{"yr":"2021","indutyMlsfcNm":"서양식","jnghdqrtrsIncCnt":127,"jnghdqrtrsIncRt":115.45,"newRgsJnghdqrtrsCnt":150,"newRgsJnghdqrtrsRt":55.76,"rgsRtrcnJnghdqrtrsCnt":32,"rgsRtrcnJnghdqrtrsRt":11.9,"jnghdqrtrsAvrgBsnPdVal":"5년 6개월"},{"yr":"2021","indutyMlsfcNm":"아이스크림/빙수 ","jnghdqrtrsIncCnt":24,"jnghdqrtrsIncRt":80,"newRgsJnghdqrtrsCnt":33,"newRgsJnghdqrtrsRt":54.1,"rgsRtrcnJnghdqrtrsCnt":7,"rgsRtrcnJnghdqrtrsRt":11.48,"jnghdqrtrsAvrgBsnPdVal":"7년 7개월"},{"yr":"2021","indutyMlsfcNm":"음료 (커피 외)","jnghdqrtrsIncCnt":32,"jnghdqrtrsIncRt":53.33,"newRgsJnghdqrtrsCnt":43,"newRgsJnghdqrtrsRt":43,"rgsRtrcnJnghdqrtrsCnt":8,"rgsRtrcnJnghdqrtrsRt":8,"jnghdqrtrsAvrgBsnPdVal":"6년 4개월"},{"yr":"2021","indutyMlsfcNm":"일식","jnghdqrtrsIncCnt":166,"jnghdqrtrsIncRt":99.4,"newRgsJnghdqrtrsCnt":200,"newRgsJnghdqrtrsRt":53.76,"rgsRtrcnJnghdqrtrsCnt":39,"rgsRtrcnJnghdqrtrsRt":10.48,"jnghdqrtrsAvrgBsnPdVal":"5년 6개월"},{"yr":"2021","indutyMlsfcNm":"제과제빵","jnghdqrtrsIncCnt":81,"jnghdqrtrsIncRt":65.32,"newRgsJnghdqrtrsCnt":112,"newRgsJnghdqrtrsRt":49.34,"rgsRtrcnJnghdqrtrsCnt":22,"rgsRtrcnJnghdqrtrsRt":9.69,"jnghdqrtrsAvrgBsnPdVal":"7년 2개월"},{"yr":"2021","indutyMlsfcNm":"주점","jnghdqrtrsIncCnt":103,"jnghdqrtrsIncRt":46.61,"newRgsJnghdqrtrsCnt":154,"newRgsJnghdqrtrsRt":42.78,"rgsRtrcnJnghdqrtrsCnt":36,"rgsRtrcnJnghdqrtrsRt":10,"jnghdqrtrsAvrgBsnPdVal":"6년 11개월"},{"yr":"2021","indutyMlsfcNm":"중식","jnghdqrtrsIncCnt":130,"jnghdqrtrsIncRt":139.78,"newRgsJnghdqrtrsCnt":150,"newRgsJnghdqrtrsRt":62.24,"rgsRtrcnJnghdqrtrsCnt":18,"rgsRtrcnJnghdqrtrsRt":7.47,"jnghdqrtrsAvrgBsnPdVal":"4년 10개월"},{"yr":"2021","indutyMlsfcNm":"치킨","jnghdqrtrsIncCnt":218,"jnghdqrtrsIncRt":56.77,"newRgsJnghdqrtrsCnt":292,"newRgsJnghdqrtrsRt":44.44,"rgsRtrcnJnghdqrtrsCnt":55,"rgsRtrcnJnghdqrtrsRt":8.37,"jnghdqrtrsAvrgBsnPdVal":"7년 4개월"},{"yr":"2021","indutyMlsfcNm":"커피","jnghdqrtrsIncCnt":344,"jnghdqrtrsIncRt":106.5,"newRgsJnghdqrtrsCnt":399,"newRgsJnghdqrtrsRt":55.26,"rgsRtrcnJnghdqrtrsCnt":55,"rgsRtrcnJnghdqrtrsRt":7.62,"jnghdqrtrsAvrgBsnPdVal":"5년 10개월"},{"yr":"2021","indutyMlsfcNm":"패스트푸드","jnghdqrtrsIncCnt":86,"jnghdqrtrsIncRt":122.86,"newRgsJnghdqrtrsCnt":103,"newRgsJnghdqrtrsRt":59.88,"rgsRtrcnJnghdqrtrsCnt":16,"rgsRtrcnJnghdqrtrsRt":9.3,"jnghdqrtrsAvrgBsnPdVal":"7년 1개월"},{"yr":"2021","indutyMlsfcNm":"피자","jnghdqrtrsIncCnt":87,"jnghdqrtrsIncRt":64.44,"newRgsJnghdqrtrsCnt":112,"newRgsJnghdqrtrsRt":46.67,"rgsRtrcnJnghdqrtrsCnt":18,"rgsRtrcnJnghdqrtrsRt":7.5,"jnghdqrtrsAvrgBsnPdVal":"6년 7개월"},{"yr":"2021","indutyMlsfcNm":"한식","jnghdqrtrsIncCnt":815,"jnghdqrtrsIncRt":65.83,"newRgsJnghdqrtrsCnt":1160,"newRgsJnghdqrtrsRt":51.21,"rgsRtrcnJnghdqrtrsCnt":212,"rgsRtrcnJnghdqrtrsRt":9.36,"jnghdqrtrsAvrgBsnPdVal":"5년 7개월"}]}'

### 데이터 변환

In [8]:
json_data = json.loads(content)
json_data

{'resultCode': '00',
 'resultMsg': 'NORMAL SERVICE',
 'numOfRows': '15',
 'pageNo': '1',
 'totalCount': 15,
 'items': [{'yr': '2021',
   'indutyMlsfcNm': '기타 외국식',
   'jnghdqrtrsIncCnt': 60,
   'jnghdqrtrsIncRt': 71.43,
   'newRgsJnghdqrtrsCnt': 76,
   'newRgsJnghdqrtrsRt': 47.5,
   'rgsRtrcnJnghdqrtrsCnt': 16,
   'rgsRtrcnJnghdqrtrsRt': 10,
   'jnghdqrtrsAvrgBsnPdVal': '5년 7개월'},
  {'yr': '2021',
   'indutyMlsfcNm': '기타 외식',
   'jnghdqrtrsIncCnt': 407,
   'jnghdqrtrsIncRt': 57.57,
   'newRgsJnghdqrtrsCnt': 533,
   'newRgsJnghdqrtrsRt': 43.62,
   'rgsRtrcnJnghdqrtrsCnt': 108,
   'rgsRtrcnJnghdqrtrsRt': 8.84,
   'jnghdqrtrsAvrgBsnPdVal': '6년 7개월'},
  {'yr': '2021',
   'indutyMlsfcNm': '분식',
   'jnghdqrtrsIncCnt': 230,
   'jnghdqrtrsIncRt': 65.16,
   'newRgsJnghdqrtrsCnt': 308,
   'newRgsJnghdqrtrsRt': 48.73,
   'rgsRtrcnJnghdqrtrsCnt': 49,
   'rgsRtrcnJnghdqrtrsRt': 7.75,
   'jnghdqrtrsAvrgBsnPdVal': '6년 1개월'},
  {'yr': '2021',
   'indutyMlsfcNm': '서양식',
   'jnghdqrtrsIncCnt': 127,
   'jnghdqrtrsIncRt': 115.45,
   'newRgsJnghdqrtrsCnt': 150,
   'newRgsJnghdqrtrsRt': 55.76,
   'rgsRtrcnJnghdqrtrsCnt': 32,
   'rgsRtrcnJnghdqrtrsRt': 11.9,
   'jnghdqrtrsAvrgBsnPdVal': '5년 6개월'},
  {'yr': '2021',
   'indutyMlsfcNm': '아이스크림/빙수 ',
   'jnghdqrtrsIncCnt': 24,
   'jnghdqrtrsIncRt': 80,
   'newRgsJnghdqrtrsCnt': 33,
   'newRgsJnghdqrtrsRt': 54.1,
   'rgsRtrcnJnghdqrtrsCnt': 7,
   'rgsRtrcnJnghdqrtrsRt': 11.48,
   'jnghdqrtrsAvrgBsnPdVal': '7년 7개월'},
  {'yr': '2021',
   'indutyMlsfcNm': '음료 (커피 외)',
   'jnghdqrtrsIncCnt': 32,
   'jnghdqrtrsIncRt': 53.33,
   'newRgsJnghdqrtrsCnt': 43,
   'newRgsJnghdqrtrsRt': 43,
   'rgsRtrcnJnghdqrtrsCnt': 8,
   'rgsRtrcnJnghdqrtrsRt': 8,
   'jnghdqrtrsAvrgBsnPdVal': '6년 4개월'},
  {'yr': '2021',
   'indutyMlsfcNm': '일식',
   'jnghdqrtrsIncCnt': 166,
   'jnghdqrtrsIncRt': 99.4,
   'newRgsJnghdqrtrsCnt': 200,
   'newRgsJnghdqrtrsRt': 53.76,
   'rgsRtrcnJnghdqrtrsCnt': 39,
   'rgsRtrcnJnghdqrtrsRt': 10.48,
   'jnghdqrtrsAvrgBsnPdVal': '5년 6개월'},
  {'yr': '2021',
   'indutyMlsfcNm': '제과제빵',
   'jnghdqrtrsIncCnt': 81,
   'jnghdqrtrsIncRt': 65.32,
   'newRgsJnghdqrtrsCnt': 112,
   'newRgsJnghdqrtrsRt': 49.34,
   'rgsRtrcnJnghdqrtrsCnt': 22,
   'rgsRtrcnJnghdqrtrsRt': 9.69,
   'jnghdqrtrsAvrgBsnPdVal': '7년 2개월'},
  {'yr': '2021',
   'indutyMlsfcNm': '주점',
   'jnghdqrtrsIncCnt': 103,
   'jnghdqrtrsIncRt': 46.61,
   'newRgsJnghdqrtrsCnt': 154,
   'newRgsJnghdqrtrsRt': 42.78,
   'rgsRtrcnJnghdqrtrsCnt': 36,
   'rgsRtrcnJnghdqrtrsRt': 10,
   'jnghdqrtrsAvrgBsnPdVal': '6년 11개월'},
  {'yr': '2021',
   'indutyMlsfcNm': '중식',
   'jnghdqrtrsIncCnt': 130,
   'jnghdqrtrsIncRt': 139.78,
   'newRgsJnghdqrtrsCnt': 150,
   'newRgsJnghdqrtrsRt': 62.24,
   'rgsRtrcnJnghdqrtrsCnt': 18,
   'rgsRtrcnJnghdqrtrsRt': 7.47,
   'jnghdqrtrsAvrgBsnPdVal': '4년 10개월'},
  {'yr': '2021',
   'indutyMlsfcNm': '치킨',
   'jnghdqrtrsIncCnt': 218,
   'jnghdqrtrsIncRt': 56.77,
   'newRgsJnghdqrtrsCnt': 292,
   'newRgsJnghdqrtrsRt': 44.44,
   'rgsRtrcnJnghdqrtrsCnt': 55,
   'rgsRtrcnJnghdqrtrsRt': 8.37,
   'jnghdqrtrsAvrgBsnPdVal': '7년 4개월'},
  {'yr': '2021',
   'indutyMlsfcNm': '커피',
   'jnghdqrtrsIncCnt': 344,
   'jnghdqrtrsIncRt': 106.5,
   'newRgsJnghdqrtrsCnt': 399,
   'newRgsJnghdqrtrsRt': 55.26,
   'rgsRtrcnJnghdqrtrsCnt': 55,
   'rgsRtrcnJnghdqrtrsRt': 7.62,
   'jnghdqrtrsAvrgBsnPdVal': '5년 10개월'},
  {'yr': '2021',
   'indutyMlsfcNm': '패스트푸드',
   'jnghdqrtrsIncCnt': 86,
   'jnghdqrtrsIncRt': 122.86,
   'newRgsJnghdqrtrsCnt': 103,
   'newRgsJnghdqrtrsRt': 59.88,
   'rgsRtrcnJnghdqrtrsCnt': 16,
   'rgsRtrcnJnghdqrtrsRt': 9.3,
   'jnghdqrtrsAvrgBsnPdVal': '7년 1개월'},
  {'yr': '2021',
   'indutyMlsfcNm': '피자',
   'jnghdqrtrsIncCnt': 87,
   'jnghdqrtrsIncRt': 64.44,
   'newRgsJnghdqrtrsCnt': 112,
   'newRgsJnghdqrtrsRt': 46.67,
   'rgsRtrcnJnghdqrtrsCnt': 18,
   'rgsRtrcnJnghdqrtrsRt': 7.5,
   'jnghdqrtrsAvrgBsnPdVal': '6년 7개월'},
  {'yr': '2021',
   'indutyMlsfcNm': '한식',
   'jnghdqrtrsIncCnt': 815,
   'jnghdqrtrsIncRt': 65.83,
   'newRgsJnghdqrtrsCnt': 1160,
   'newRgsJnghdqrtrsRt': 51.21,
   'rgsRtrcnJnghdqrtrsCnt': 212,
   'rgsRtrcnJnghdqrtrsRt': 9.36,
   'jnghdqrtrsAvrgBsnPdVal': '5년 7개월'}]}

In [9]:
print(type(json_data))

<class 'dict'>

In [10]:
df = pd.DataFrame()

In [11]:
if json_data['totalCount'] != 0:
    items = json_data['items']
    df = pd.DataFrame(items)
df

,yr,indutyMlsfcNm,jnghdqrtrsIncCnt,jnghdqrtrsIncRt,newRgsJnghdqrtrsCnt,newRgsJnghdqrtrsRt,rgsRtrcnJnghdqrtrsCnt,rgsRtrcnJnghdqrtrsRt,jnghdqrtrsAvrgBsnPdVal
0,2021,기타 외국식,60,71.43,76,47.50,16,10.00,5년 7개월
1,2021,기타 외식,407,57.57,533,43.62,108,8.84,6년 7개월
2,2021,분식,230,65.16,308,48.73,49,7.75,6년 1개월
3,2021,서양식,127,115.45,150,55.76,32,11.90,5년 6개월
4,2021,아이스크림/빙수,24,80.00,33,54.10,7,11.48,7년 7개월
5,2021,음료 (커피 외),32,53.33,43,43.00,8,8.00,6년 4개월
6,2021,일식,166,99.40,200,53.76,39,10.48,5년 6개월
7,2021,제과제빵,81,65.32,112,49.34,22,9.69,7년 2개월
8,2021,주점,103,46.61,154,42.78,36,10.00,6년 11개월
9,2021,중식,130,139.78,150,62.24,18,7.47,4년 10개월
10,2021,치킨,218,56.77,292,44.44,55,8.37,7년 4개월
11,2021,커피,344,106.50,399,55.26,55,7.62,5년 10개월
12,2021,패스트푸드,86,122.86,103,59.88,16,9.30,7년 1개월
13,2021,피자,87,64.44,112,46.67,18,7.50,6년 7개월
14,2021,한식,815,65.83,1160,51.21,212,9.36,5년 7개월

## 4.2.3 XML 데이터 크롤링

### 라이브러리 호출

In [12]:
import requests
import bs4
import pandas as pd

### 데이터 불러오기

In [13]:
key = 'DecodingKey 입력'

In [14]:
url = 'https://apis.data.go.kr/1130000/FftcIndutyJnghdqrtrsStatsService/getIndutyJnghdqrtrsOutStats?'
params = {'serviceKey' : key, 'pageNo' : '1', 'numOfRows' : '15', 'resultType' : 'xml', 'yr' : '2022' }

response = requests.get(url, params=params)

In [15]:
content = response.text
content

'<EgovMap><resultCode>00</resultCode><resultMsg>NORMAL SERVICE</resultMsg><numOfRows>15</numOfRows><pageNo>1</pageNo><totalCount>15</totalCount><items><item><yr>2022</yr><indutyMlsfcNm>기타 외국식</indutyMlsfcNm><jnghdqrtrsIncCnt>21</jnghdqrtrsIncCnt><jnghdqrtrsIncRt>15.11</jnghdqrtrsIncRt><newRgsJnghdqrtrsCnt>29</newRgsJnghdqrtrsCnt><newRgsJnghdqrtrsRt>16.57</newRgsJnghdqrtrsRt><rgsRtrcnJnghdqrtrsCnt>15</rgsRtrcnJnghdqrtrsCnt><rgsRtrcnJnghdqrtrsRt>8.57</rgsRtrcnJnghdqrtrsRt><jnghdqrtrsAvrgBsnPdVal>5년 7개월</jnghdqrtrsAvrgBsnPdVal></item><item><yr>2022</yr><indutyMlsfcNm>기타 외식</indutyMlsfcNm><jnghdqrtrsIncCnt>31</jnghdqrtrsIncCnt><jnghdqrtrsIncRt>2.97</jnghdqrtrsIncRt><newRgsJnghdqrtrsCnt>115</newRgsJnghdqrtrsCnt><newRgsJnghdqrtrsRt>9.46</newRgsJnghdqrtrsRt><rgsRtrcnJnghdqrtrsCnt>141</rgsRtrcnJnghdqrtrsCnt><rgsRtrcnJnghdqrtrsRt>11.6</rgsRtrcnJnghdqrtrsRt><jnghdqrtrsAvrgBsnPdVal>6년 7개월</jnghdqrtrsAvrgBsnPdVal></item><item><yr>2022</yr><indutyMlsfcNm>분식</indutyMlsfcNm><jnghdqrtrsIncCnt>27</jnghdqrtrsIncCnt><jnghdqrtrsIncRt>4.94</jnghdqrtrsIncRt><newRgsJnghdqrtrsCnt>54</newRgsJnghdqrtrsCnt><newRgsJnghdqrtrsRt>8.37</newRgsJnghdqrtrsRt><rgsRtrcnJnghdqrtrsCnt>71</rgsRtrcnJnghdqrtrsCnt><rgsRtrcnJnghdqrtrsRt>11.01</rgsRtrcnJnghdqrtrsRt><jnghdqrtrsAvrgBsnPdVal>6년 4개월</jnghdqrtrsAvrgBsnPdVal></item><item><yr>2022</yr><indutyMlsfcNm>서양식</indutyMlsfcNm><jnghdqrtrsIncCnt>18</jnghdqrtrsIncCnt><jnghdqrtrsIncRt>7.86</jnghdqrtrsIncRt><newRgsJnghdqrtrsCnt>29</newRgsJnghdqrtrsCnt><newRgsJnghdqrtrsRt>10.55</newRgsJnghdqrtrsRt><rgsRtrcnJnghdqrtrsCnt>28</rgsRtrcnJnghdqrtrsCnt><rgsRtrcnJnghdqrtrsRt>10.18</rgsRtrcnJnghdqrtrsRt><jnghdqrtrsAvrgBsnPdVal>5년 7개월</jnghdqrtrsAvrgBsnPdVal></item><item><yr>2022</yr><indutyMlsfcNm>아이스크림/빙수 </indutyMlsfcNm><jnghdqrtrsIncCnt>2</jnghdqrtrsIncCnt><jnghdqrtrsIncRt>3.85</jnghdqrtrsIncRt><newRgsJnghdqrtrsCnt>11</newRgsJnghdqrtrsCnt><newRgsJnghdqrtrsRt>18.33</newRgsJnghdqrtrsRt><rgsRtrcnJnghdqrtrsCnt>6</rgsRtrcnJnghdqrtrsCnt><rgsRtrcnJnghdqrtrsRt>10</rgsRtrcnJnghdqrtrsRt><jnghdqrtrsAvrgBsnPdVal>6년 10개월</jnghdqrtrsAvrgBsnPdVal></item><item><yr>2022</yr><indutyMlsfcNm>음료 (커피 외)</indutyMlsfcNm><jnghdqrtrsIncCnt>4</jnghdqrtrsIncCnt><jnghdqrtrsIncRt>4.49</jnghdqrtrsIncRt><newRgsJnghdqrtrsCnt>11</newRgsJnghdqrtrsCnt><newRgsJnghdqrtrsRt>10.68</newRgsJnghdqrtrsRt><rgsRtrcnJnghdqrtrsCnt>10</rgsRtrcnJnghdqrtrsCnt><rgsRtrcnJnghdqrtrsRt>9.71</rgsRtrcnJnghdqrtrsRt><jnghdqrtrsAvrgBsnPdVal>6년 7개월</jnghdqrtrsAvrgBsnPdVal></item><item><yr>2022</yr><indutyMlsfcNm>일식</indutyMlsfcNm><jnghdqrtrsIncCnt>48</jnghdqrtrsIncCnt><jnghdqrtrsIncRt>15.34</jnghdqrtrsIncRt><newRgsJnghdqrtrsCnt>64</newRgsJnghdqrtrsCnt><newRgsJnghdqrtrsRt>15.88</newRgsJnghdqrtrsRt><rgsRtrcnJnghdqrtrsCnt>42</rgsRtrcnJnghdqrtrsCnt><rgsRtrcnJnghdqrtrsRt>10.42</rgsRtrcnJnghdqrtrsRt><jnghdqrtrsAvrgBsnPdVal>5년 7개월</jnghdqrtrsAvrgBsnPdVal></item><item><yr>2022</yr><indutyMlsfcNm>제과제빵</indutyMlsfcNm><jnghdqrtrsIncCnt>27</jnghdqrtrsIncCnt><jnghdqrtrsIncRt>13.99</jnghdqrtrsIncRt><newRgsJnghdqrtrsCnt>43</newRgsJnghdqrtrsCnt><newRgsJnghdqrtrsRt>17</newRgsJnghdqrtrsRt><rgsRtrcnJnghdqrtrsCnt>33</rgsRtrcnJnghdqrtrsCnt><rgsRtrcnJnghdqrtrsRt>13.04</rgsRtrcnJnghdqrtrsRt><jnghdqrtrsAvrgBsnPdVal>7년 1개월</jnghdqrtrsAvrgBsnPdVal></item><item><yr>2022</yr><indutyMlsfcNm>주점</indutyMlsfcNm><jnghdqrtrsIncCnt>29</jnghdqrtrsIncCnt><jnghdqrtrsIncRt>9.39</jnghdqrtrsIncRt><newRgsJnghdqrtrsCnt>47</newRgsJnghdqrtrsCnt><newRgsJnghdqrtrsRt>12.57</newRgsJnghdqrtrsRt><rgsRtrcnJnghdqrtrsCnt>36</rgsRtrcnJnghdqrtrsCnt><rgsRtrcnJnghdqrtrsRt>9.63</rgsRtrcnJnghdqrtrsRt><jnghdqrtrsAvrgBsnPdVal>6년 8개월</jnghdqrtrsAvrgBsnPdVal></item><item><yr>2022</yr><indutyMlsfcNm>중식</indutyMlsfcNm><jnghdqrtrsIncCnt>30</jnghdqrtrsIncCnt><jnghdqrtrsIncRt>14.71</jnghdqrtrsIncRt><newRgsJnghdqrtrsCnt>53</newRgsJnghdqrtrsCnt><newRgsJnghdqrtrsRt>20.54</newRgsJnghdqrtrsRt><rgsRtrcnJnghdqrtrsCnt>24</rgsRtrcnJnghdqrtrsCnt><rgsRtrcnJnghdqrtrsRt>9.3</rgsRtrcnJnghdqrtrsRt><jnghdqrtrsAvrgBsnPdVal>4년 11개월</jnghdqrtrsAvrgBsnPdVal></item><item><yr>2022</yr><indutyMlsfcNm>치킨</indutyMlsfcNm><jnghdqrtrsIncCnt>19</jnghdqrtrsIncCnt><jnghdqrtrsIncRt>3.34</jnghdqrtrsIncRt><newRgsJnghdqrtrsCnt>45</newRgsJnghdqrtrsCnt><newRgsJnghdqrtrsRt>6.88</newRgsJnghdqrtrsRt><rgsRtrcnJnghdqrtrsCnt>66</rgsRtrcnJnghdqrtrsCnt><rgsRtrcnJnghdqrtrsRt>10.09</rgsRtrcnJnghdqrtrsRt><jnghdqrtrsAvrgBsnPdVal>7년 6개월</jnghdqrtrsAvrgBsnPdVal></item><item><yr>2022</yr><indutyMlsfcNm>커피</indutyMlsfcNm><jnghdqrtrsIncCnt>96</jnghdqrtrsIncCnt><jnghdqrtrsIncRt>15.34</jnghdqrtrsIncRt><newRgsJnghdqrtrsCnt>142</newRgsJnghdqrtrsCnt><newRgsJnghdqrtrsRt>18.09</newRgsJnghdqrtrsRt><rgsRtrcnJnghdqrtrsCnt>63</rgsRtrcnJnghdqrtrsCnt><rgsRtrcnJnghdqrtrsRt>8.03</rgsRtrcnJnghdqrtrsRt><jnghdqrtrsAvrgBsnPdVal>5년 10개월</jnghdqrtrsAvrgBsnPdVal></item><item><yr>2022</yr><indutyMlsfcNm>패스트푸드</indutyMlsfcNm><jnghdqrtrsIncCnt>-2</jnghdqrtrsIncCnt><jnghdqrtrsIncRt>-1.34</jnghdqrtrsIncRt><newRgsJnghdqrtrsCnt>17</newRgsJnghdqrtrsCnt><newRgsJnghdqrtrsRt>10.3</newRgsJnghdqrtrsRt><rgsRtrcnJnghdqrtrsCnt>18</rgsRtrcnJnghdqrtrsCnt><rgsRtrcnJnghdqrtrsRt>10.91</rgsRtrcnJnghdqrtrsRt><jnghdqrtrsAvrgBsnPdVal>7년 4개월</jnghdqrtrsAvrgBsnPdVal></item><item><yr>2022</yr><indutyMlsfcNm>피자</indutyMlsfcNm><jnghdqrtrsIncCnt>12</jnghdqrtrsIncCnt><jnghdqrtrsIncRt>5.66</jnghdqrtrsIncRt><newRgsJnghdqrtrsCnt>19</newRgsJnghdqrtrsCnt><newRgsJnghdqrtrsRt>7.63</newRgsJnghdqrtrsRt><rgsRtrcnJnghdqrtrsCnt>25</rgsRtrcnJnghdqrtrsCnt><rgsRtrcnJnghdqrtrsRt>10.04</rgsRtrcnJnghdqrtrsRt><jnghdqrtrsAvrgBsnPdVal>6년 10개월</jnghdqrtrsAvrgBsnPdVal></item><item><yr>2022</yr><indutyMlsfcNm>한식</indutyMlsfcNm><jnghdqrtrsIncCnt>264</jnghdqrtrsIncCnt><jnghdqrtrsIncRt>13.87</jnghdqrtrsIncRt><newRgsJnghdqrtrsCnt>410</newRgsJnghdqrtrsCnt><newRgsJnghdqrtrsRt>16.7</newRgsJnghdqrtrsRt><rgsRtrcnJnghdqrtrsCnt>287</rgsRtrcnJnghdqrtrsCnt><rgsRtrcnJnghdqrtrsRt>11.69</rgsRtrcnJnghdqrtrsRt><jnghdqrtrsAvrgBsnPdVal>5년 11개월</jnghdqrtrsAvrgBsnPdVal></item></items></EgovMap>'

### 데이터 변환

In [16]:
xml_result = bs4.BeautifulSoup(content,'xml')
result = xml_result.findAll('item')
result

[<item><yr>2022</yr><indutyMlsfcNm>기타 외국식</indutyMlsfcNm><jnghdqrtrsIncCnt>21</jnghdqrtrsIncCnt><jnghdqrtrsIncRt>15.11</jnghdqrtrsIncRt><newRgsJnghdqrtrsCnt>29</newRgsJnghdqrtrsCnt><newRgsJnghdqrtrsRt>16.57</newRgsJnghdqrtrsRt><rgsRtrcnJnghdqrtrsCnt>15</rgsRtrcnJnghdqrtrsCnt><rgsRtrcnJnghdqrtrsRt>8.57</rgsRtrcnJnghdqrtrsRt><jnghdqrtrsAvrgBsnPdVal>5년 7개월</jnghdqrtrsAvrgBsnPdVal></item>,
 <item><yr>2022</yr><indutyMlsfcNm>기타 외식</indutyMlsfcNm><jnghdqrtrsIncCnt>31</jnghdqrtrsIncCnt><jnghdqrtrsIncRt>2.97</jnghdqrtrsIncRt><newRgsJnghdqrtrsCnt>115</newRgsJnghdqrtrsCnt><newRgsJnghdqrtrsRt>9.46</newRgsJnghdqrtrsRt><rgsRtrcnJnghdqrtrsCnt>141</rgsRtrcnJnghdqrtrsCnt><rgsRtrcnJnghdqrtrsRt>11.6</rgsRtrcnJnghdqrtrsRt><jnghdqrtrsAvrgBsnPdVal>6년 7개월</jnghdqrtrsAvrgBsnPdVal></item>,
 <item><yr>2022</yr><indutyMlsfcNm>분식</indutyMlsfcNm><jnghdqrtrsIncCnt>27</jnghdqrtrsIncCnt><jnghdqrtrsIncRt>4.94</jnghdqrtrsIncRt><newRgsJnghdqrtrsCnt>54</newRgsJnghdqrtrsCnt><newRgsJnghdqrtrsRt>8.37</newRgsJnghdqrtrsRt><rgsRtrcnJnghdqrtrsCnt>71</rgsRtrcnJnghdqrtrsCnt><rgsRtrcnJnghdqrtrsRt>11.01</rgsRtrcnJnghdqrtrsRt><jnghdqrtrsAvrgBsnPdVal>6년 4개월</jnghdqrtrsAvrgBsnPdVal></item>,
 <item><yr>2022</yr><indutyMlsfcNm>서양식</indutyMlsfcNm><jnghdqrtrsIncCnt>18</jnghdqrtrsIncCnt><jnghdqrtrsIncRt>7.86</jnghdqrtrsIncRt><newRgsJnghdqrtrsCnt>29</newRgsJnghdqrtrsCnt><newRgsJnghdqrtrsRt>10.55</newRgsJnghdqrtrsRt><rgsRtrcnJnghdqrtrsCnt>28</rgsRtrcnJnghdqrtrsCnt><rgsRtrcnJnghdqrtrsRt>10.18</rgsRtrcnJnghdqrtrsRt><jnghdqrtrsAvrgBsnPdVal>5년 7개월</jnghdqrtrsAvrgBsnPdVal></item>,
 <item><yr>2022</yr><indutyMlsfcNm>아이스크림/빙수 </indutyMlsfcNm><jnghdqrtrsIncCnt>2</jnghdqrtrsIncCnt><jnghdqrtrsIncRt>3.85</jnghdqrtrsIncRt><newRgsJnghdqrtrsCnt>11</newRgsJnghdqrtrsCnt><newRgsJnghdqrtrsRt>18.33</newRgsJnghdqrtrsRt><rgsRtrcnJnghdqrtrsCnt>6</rgsRtrcnJnghdqrtrsCnt><rgsRtrcnJnghdqrtrsRt>10</rgsRtrcnJnghdqrtrsRt><jnghdqrtrsAvrgBsnPdVal>6년 10개월</jnghdqrtrsAvrgBsnPdVal></item>,
 <item><yr>2022</yr><indutyMlsfcNm>음료 (커피 외)</indutyMlsfcNm><jnghdqrtrsIncCnt>4</jnghdqrtrsIncCnt><jnghdqrtrsIncRt>4.49</jnghdqrtrsIncRt><newRgsJnghdqrtrsCnt>11</newRgsJnghdqrtrsCnt><newRgsJnghdqrtrsRt>10.68</newRgsJnghdqrtrsRt><rgsRtrcnJnghdqrtrsCnt>10</rgsRtrcnJnghdqrtrsCnt><rgsRtrcnJnghdqrtrsRt>9.71</rgsRtrcnJnghdqrtrsRt><jnghdqrtrsAvrgBsnPdVal>6년 7개월</jnghdqrtrsAvrgBsnPdVal></item>,
 <item><yr>2022</yr><indutyMlsfcNm>일식</indutyMlsfcNm><jnghdqrtrsIncCnt>48</jnghdqrtrsIncCnt><jnghdqrtrsIncRt>15.34</jnghdqrtrsIncRt><newRgsJnghdqrtrsCnt>64</newRgsJnghdqrtrsCnt><newRgsJnghdqrtrsRt>15.88</newRgsJnghdqrtrsRt><rgsRtrcnJnghdqrtrsCnt>42</rgsRtrcnJnghdqrtrsCnt><rgsRtrcnJnghdqrtrsRt>10.42</rgsRtrcnJnghdqrtrsRt><jnghdqrtrsAvrgBsnPdVal>5년 7개월</jnghdqrtrsAvrgBsnPdVal></item>,
 <item><yr>2022</yr><indutyMlsfcNm>제과제빵</indutyMlsfcNm><jnghdqrtrsIncCnt>27</jnghdqrtrsIncCnt><jnghdqrtrsIncRt>13.99</jnghdqrtrsIncRt><newRgsJnghdqrtrsCnt>43</newRgsJnghdqrtrsCnt><newRgsJnghdqrtrsRt>17</newRgsJnghdqrtrsRt><rgsRtrcnJnghdqrtrsCnt>33</rgsRtrcnJnghdqrtrsCnt><rgsRtrcnJnghdqrtrsRt>13.04</rgsRtrcnJnghdqrtrsRt><jnghdqrtrsAvrgBsnPdVal>7년 1개월</jnghdqrtrsAvrgBsnPdVal></item>,
 <item><yr>2022</yr><indutyMlsfcNm>주점</indutyMlsfcNm><jnghdqrtrsIncCnt>29</jnghdqrtrsIncCnt><jnghdqrtrsIncRt>9.39</jnghdqrtrsIncRt><newRgsJnghdqrtrsCnt>47</newRgsJnghdqrtrsCnt><newRgsJnghdqrtrsRt>12.57</newRgsJnghdqrtrsRt><rgsRtrcnJnghdqrtrsCnt>36</rgsRtrcnJnghdqrtrsCnt><rgsRtrcnJnghdqrtrsRt>9.63</rgsRtrcnJnghdqrtrsRt><jnghdqrtrsAvrgBsnPdVal>6년 8개월</jnghdqrtrsAvrgBsnPdVal></item>,
 <item><yr>2022</yr><indutyMlsfcNm>중식</indutyMlsfcNm><jnghdqrtrsIncCnt>30</jnghdqrtrsIncCnt><jnghdqrtrsIncRt>14.71</jnghdqrtrsIncRt><newRgsJnghdqrtrsCnt>53</newRgsJnghdqrtrsCnt><newRgsJnghdqrtrsRt>20.54</newRgsJnghdqrtrsRt><rgsRtrcnJnghdqrtrsCnt>24</rgsRtrcnJnghdqrtrsCnt><rgsRtrcnJnghdqrtrsRt>9.3</rgsRtrcnJnghdqrtrsRt><jnghdqrtrsAvrgBsnPdVal>4년 11개월</jnghdqrtrsAvrgBsnPdVal></item>,
 <item><yr>2022</yr><indutyMlsfcNm>치킨</indutyMlsfcNm><jnghdqrtrsIncCnt>19</jnghdqrtrsIncCnt><jnghdqrtrsIncRt>3.34</jnghdqrtrsIncRt><newRgsJnghdqrtrsCnt>45</newRgsJnghdqrtrsCnt><newRgsJnghdqrtrsRt>6.88</newRgsJnghdqrtrsRt><rgsRtrcnJnghdqrtrsCnt>66</rgsRtrcnJnghdqrtrsCnt><rgsRtrcnJnghdqrtrsRt>10.09</rgsRtrcnJnghdqrtrsRt><jnghdqrtrsAvrgBsnPdVal>7년 6개월</jnghdqrtrsAvrgBsnPdVal></item>,
 <item><yr>2022</yr><indutyMlsfcNm>커피</indutyMlsfcNm><jnghdqrtrsIncCnt>96</jnghdqrtrsIncCnt><jnghdqrtrsIncRt>15.34</jnghdqrtrsIncRt><newRgsJnghdqrtrsCnt>142</newRgsJnghdqrtrsCnt><newRgsJnghdqrtrsRt>18.09</newRgsJnghdqrtrsRt><rgsRtrcnJnghdqrtrsCnt>63</rgsRtrcnJnghdqrtrsCnt><rgsRtrcnJnghdqrtrsRt>8.03</rgsRtrcnJnghdqrtrsRt><jnghdqrtrsAvrgBsnPdVal>5년 10개월</jnghdqrtrsAvrgBsnPdVal></item>,
 <item><yr>2022</yr><indutyMlsfcNm>패스트푸드</indutyMlsfcNm><jnghdqrtrsIncCnt>-2</jnghdqrtrsIncCnt><jnghdqrtrsIncRt>-1.34</jnghdqrtrsIncRt><newRgsJnghdqrtrsCnt>17</newRgsJnghdqrtrsCnt><newRgsJnghdqrtrsRt>10.3</newRgsJnghdqrtrsRt><rgsRtrcnJnghdqrtrsCnt>18</rgsRtrcnJnghdqrtrsCnt><rgsRtrcnJnghdqrtrsRt>10.91</rgsRtrcnJnghdqrtrsRt><jnghdqrtrsAvrgBsnPdVal>7년 4개월</jnghdqrtrsAvrgBsnPdVal></item>,
 <item><yr>2022</yr><indutyMlsfcNm>피자</indutyMlsfcNm><jnghdqrtrsIncCnt>12</jnghdqrtrsIncCnt><jnghdqrtrsIncRt>5.66</jnghdqrtrsIncRt><newRgsJnghdqrtrsCnt>19</newRgsJnghdqrtrsCnt><newRgsJnghdqrtrsRt>7.63</newRgsJnghdqrtrsRt><rgsRtrcnJnghdqrtrsCnt>25</rgsRtrcnJnghdqrtrsCnt><rgsRtrcnJnghdqrtrsRt>10.04</rgsRtrcnJnghdqrtrsRt><jnghdqrtrsAvrgBsnPdVal>6년 10개월</jnghdqrtrsAvrgBsnPdVal></item>,
 <item><yr>2022</yr><indutyMlsfcNm>한식</indutyMlsfcNm><jnghdqrtrsIncCnt>264</jnghdqrtrsIncCnt><jnghdqrtrsIncRt>13.87</jnghdqrtrsIncRt><newRgsJnghdqrtrsCnt>410</newRgsJnghdqrtrsCnt><newRgsJnghdqrtrsRt>16.7</newRgsJnghdqrtrsRt><rgsRtrcnJnghdqrtrsCnt>287</rgsRtrcnJnghdqrtrsCnt><rgsRtrcnJnghdqrtrsRt>11.69</rgsRtrcnJnghdqrtrsRt><jnghdqrtrsAvrgBsnPdVal>5년 11개월</jnghdqrtrsAvrgBsnPdVal></item>]

In [17]:
column_list = []  # for문을 통해 추출한 column을 담을 빈 리스트
for column in result[0].find_all():
    column_list.append(column.name)

column_list

['yr',
 'indutyMlsfcNm',
 'jnghdqrtrsIncCnt',
 'jnghdqrtrsIncRt',
 'newRgsJnghdqrtrsCnt',
 'newRgsJnghdqrtrsRt',
 'rgsRtrcnJnghdqrtrsCnt',
 'rgsRtrcnJnghdqrtrsRt',
 'jnghdqrtrsAvrgBsnPdVal']

In [18]:
data_list = []
value_list = []
for i in result:
    for j in i.find_all():
        data_list.append(j.text)
    value_list.append(data_list)
    data_list = []

value_list

[['2022', '기타 외국식', '21', '15.11', '29', '16.57', '15', '8.57', '5년 7개월'],
 ['2022', '기타 외식', '31', '2.97', '115', '9.46', '141', '11.6', '6년 7개월'],
 ['2022', '분식', '27', '4.94', '54', '8.37', '71', '11.01', '6년 4개월'],
 ['2022', '서양식', '18', '7.86', '29', '10.55', '28', '10.18', '5년 7개월'],
 ['2022', '아이스크림/빙수 ', '2', '3.85', '11', '18.33', '6', '10', '6년 10개월'],
 ['2022', '음료 (커피 외)', '4', '4.49', '11', '10.68', '10', '9.71', '6년 7개월'],
 ['2022', '일식', '48', '15.34', '64', '15.88', '42', '10.42', '5년 7개월'],
 ['2022', '제과제빵', '27', '13.99', '43', '17', '33', '13.04', '7년 1개월'],
 ['2022', '주점', '29', '9.39', '47', '12.57', '36', '9.63', '6년 8개월'],
 ['2022', '중식', '30', '14.71', '53', '20.54', '24', '9.3', '4년 11개월'],
 ['2022', '치킨', '19', '3.34', '45', '6.88', '66', '10.09', '7년 6개월'],
 ['2022', '커피', '96', '15.34', '142', '18.09', '63', '8.03', '5년 10개월'],
 ['2022', '패스트푸드', '-2', '-1.34', '17', '10.3', '18', '10.91', '7년 4개월'],
 ['2022', '피자', '12', '5.66', '19', '7.63', '25', '10.04', '6년 10개월'],
 ['2022', '한식', '264', '13.87', '410', '16.7', '287', '11.69', '5년 11개월']]

In [19]:
df = pd.DataFrame(value_list, columns = column_list)
df

,yr,indutyMlsfcNm,jnghdqrtrsIncCnt,jnghdqrtrsIncRt,newRgsJnghdqrtrsCnt,newRgsJnghdqrtrsRt,rgsRtrcnJnghdqrtrsCnt,rgsRtrcnJnghdqrtrsRt,jnghdqrtrsAvrgBsnPdVal
0,2022,기타 외국식,21,15.11,29,16.57,15,8.57,5년 7개월
1,2022,기타 외식,31,2.97,115,9.46,141,11.6,6년 7개월
2,2022,분식,27,4.94,54,8.37,71,11.01,6년 4개월
3,2022,서양식,18,7.86,29,10.55,28,10.18,5년 7개월
4,2022,아이스크림/빙수,2,3.85,11,18.33,6,10,6년 10개월
5,2022,음료 (커피 외),4,4.49,11,10.68,10,9.71,6년 7개월
6,2022,일식,48,15.34,64,15.88,42,10.42,5년 7개월
7,2022,제과제빵,27,13.99,43,17,33,13.04,7년 1개월
8,2022,주점,29,9.39,47,12.57,36,9.63,6년 8개월
9,2022,중식,30,14.71,53,20.54,24,9.3,4년 11개월
10,2022,치킨,19,3.34,45,6.88,66,10.09,7년 6개월
11,2022,커피,96,15.34,142,18.09,63,8.03,5년 10개월
12,2022,패스트푸드,-2,-1.34,17,10.3,18,10.91,7년 4개월
13,2022,피자,12,5.66,19,7.63,25,10.04,6년 10개월
14,2022,한식,264,13.87,410,16.7,287,11.69,5년 11개월

## 4.2.4 데이터 전처리 및 저장

### 데이터 전처리

In [20]:
df.columns = ['기준년도', '업종_중분류명', '가맹본부_증가수', '가맹본부_증가율', '신규등록_가맹본부수', '신규등록_가맹본부율', '등록취소_가맹본부수', '등록취소_가맹본부율', '가맹본부_평균영업기간']
df

,기준년도,업종_중분류명,가맹본부_증가수,가맹본부_증가율,신규등록_가맹본부수,신규등록_가맹본부율,등록취소_가맹본부수,등록취소_가맹본부율,가맹본부_평균영업기간
0,2022,기타 외국식,21,15.11,29,16.57,15,8.57,5년 7개월
1,2022,기타 외식,31,2.97,115,9.46,141,11.6,6년 7개월
2,2022,분식,27,4.94,54,8.37,71,11.01,6년 4개월
3,2022,서양식,18,7.86,29,10.55,28,10.18,5년 7개월
4,2022,아이스크림/빙수,2,3.85,11,18.33,6,10,6년 10개월
5,2022,음료 (커피 외),4,4.49,11,10.68,10,9.71,6년 7개월
6,2022,일식,48,15.34,64,15.88,42,10.42,5년 7개월
7,2022,제과제빵,27,13.99,43,17,33,13.04,7년 1개월
8,2022,주점,29,9.39,47,12.57,36,9.63,6년 8개월
9,2022,중식,30,14.71,53,20.54,24,9.3,4년 11개월
10,2022,치킨,19,3.34,45,6.88,66,10.09,7년 6개월
11,2022,커피,96,15.34,142,18.09,63,8.03,5년 10개월
12,2022,패스트푸드,-2,-1.34,17,10.3,18,10.91,7년 4개월
13,2022,피자,12,5.66,19,7.63,25,10.04,6년 10개월
14,2022,한식,264,13.87,410,16.7,287,11.69,5년 11개월

In [21]:
df = df.drop('가맹본부_증가수', axis=1)
df = df.drop('가맹본부_증가율', axis=1)
df = df.drop('가맹본부_평균영업기간', axis=1)

df

    기준년도    업종_중분류명 신규등록_가맹본부수 신규등록_가맹본부율 등록취소_가맹본부수 등록취소_가맹본부율
0   2022     기타 외국식         29      16.57         15       8.57
1   2022      기타 외식        115       9.46        141       11.6
2   2022         분식         54       8.37         71      11.01
3   2022        서양식         29      10.55         28      10.18
4   2022  아이스크림/빙수          11      18.33          6         10
5   2022  음료 (커피 외)         11      10.68         10       9.71
6   2022         일식         64      15.88         42      10.42
7   2022       제과제빵         43         17         33      13.04
8   2022         주점         47      12.57         36       9.63
9   2022         중식         53      20.54         24        9.3
10  2022         치킨         45       6.88         66      10.09
11  2022         커피        142      18.09         63       8.03
12  2022      패스트푸드         17       10.3         18      10.91
13  2022         피자         19       7.63         25      10.04
14  2022         한식        410       16.7        287      11.69

In [22]:
# 데이터 타입 확인
df.dtypes

기준년도          object
업종_중분류명       object
신규등록_가맹본부수    object
신규등록_가맹본부율    object
등록취소_가맹본부수    object
등록취소_가맹본부율    object
dtype: object

In [23]:
df['기준년도'] = df['기준년도'].astype(int)
df['신규등록_가맹본부수'] = df['신규등록_가맹본부수'].astype(int)
df['신규등록_가맹본부율'] = df['신규등록_가맹본부율'].astype(float)
df['등록취소_가맹본부수'] = df['등록취소_가맹본부수'].astype(int)
df['등록취소_가맹본부율'] = df['등록취소_가맹본부율'].astype(float)

In [24]:
# 변환된 데이터 타입 확인
df.dtypes

기준년도            int64
업종_중분류명        object
신규등록_가맹본부수      int64
신규등록_가맹본부율    float64
등록취소_가맹본부수      int64
등록취소_가맹본부율    float64
dtype: object

In [25]:
df.sort_values(by='등록취소_가맹본부수', ascending = True)

    기준년도    업종_중분류명  신규등록_가맹본부수  신규등록_가맹본부율  등록취소_가맹본부수  등록취소_가맹본부율
4   2022  아이스크림/빙수           11       18.33           6       10.00
5   2022  음료 (커피 외)          11       10.68          10        9.71
0   2022     기타 외국식          29       16.57          15        8.57
12  2022      패스트푸드          17       10.30          18       10.91
9   2022         중식          53       20.54          24        9.30
13  2022         피자          19        7.63          25       10.04
3   2022        서양식          29       10.55          28       10.18
7   2022       제과제빵          43       17.00          33       13.04
8   2022         주점          47       12.57          36        9.63
6   2022         일식          64       15.88          42       10.42
11  2022         커피         142       18.09          63        8.03
10  2022         치킨          45        6.88          66       10.09
2   2022         분식          54        8.37          71       11.01
1   2022      기타 외식         115        9.46         141       11.60
14  2022         한식         410       16.70         287       11.69

In [26]:
df.sort_values(by='신규등록_가맹본부율', ascending = False)

    기준년도    업종_중분류명  신규등록_가맹본부수  신규등록_가맹본부율  등록취소_가맹본부수  등록취소_가맹본부율
9   2022         중식          53       20.54          24        9.30
4   2022  아이스크림/빙수           11       18.33           6       10.00
11  2022         커피         142       18.09          63        8.03
7   2022       제과제빵          43       17.00          33       13.04
14  2022         한식         410       16.70         287       11.69
0   2022     기타 외국식          29       16.57          15        8.57
6   2022         일식          64       15.88          42       10.42
8   2022         주점          47       12.57          36        9.63
5   2022  음료 (커피 외)          11       10.68          10        9.71
3   2022        서양식          29       10.55          28       10.18
12  2022      패스트푸드          17       10.30          18       10.91
1   2022      기타 외식         115        9.46         141       11.60
2   2022         분식          54        8.37          71       11.01
13  2022         피자          19        7.63          25       10.04
10  2022         치킨          45        6.88          66       10.09

### 데이터 저장

In [27]:
df.to_csv('외식별_가맹정보.csv', index=False)

***

# 4.3 MySQL

## 4.3.1 MySQL DB생성

In [28]:
import pymysql

# password 입력
password = '0000'

In [29]:
# MySQL Connection
conn = pymysql.connect(host = '127.0.0.1',
                       port = 3306,
                       user = 'root',
                       password = password,
                       charset='utf8')

In [30]:
# SQL문 실행
with conn:
    with conn.cursor() as cur:
        cur.execute('CREATE DATABASE affiliate_db')
        conn.commit()

## 4.3.2 MySQL 테이블 생성

In [31]:
# MySQL DB Connection
conn = pymysql.connect(host = '127.0.0.1',
                       port = 3306,
                       user = 'root',
                       password = password,
                       charset='utf8',
                       database='affiliate_db')

In [32]:
sql = '''create table category (
            category_name VARCHAR(50) primary key,
            year int,
            new_store int,
            new_store_per float,    
            cancel_store int,
            cancel_store_per float);'''

In [33]:
with conn.cursor() as cur:
    cur.execute(sql)
    conn.commit()

## 4.3.3 MySQL 데이터 저장

In [34]:
with conn.cursor() as cursor:
    for _, row in df.iterrows():
        sql = '''
        INSERT INTO category (category_name, year, new_store, new_store_per,
                              cancel_store, cancel_store_per)
        VALUES (%s, %s, %s, %s, %s, %s)
        '''

        values = (
            row['업종_중분류명'], row['기준년도'], row['신규등록_가맹본부수'],
                        row['신규등록_가맹본부율'], row['등록취소_가맹본부수'],
                        row['등록취소_가맹본부율']
        )

        cursor.execute(sql, values)
        
    # 커밋
    conn.commit()

In [35]:
# MySQL DB Connection 종료
conn.close()

## 4.3.4 MySQL 데이터 조회

In [36]:
# MySQL DB Connection
conn = pymysql.connect(host = '127.0.0.1',
                       port = 3306,
                       user = 'root',
                       password = password,
                       charset='utf8',
                       database='affiliate_db')

In [37]:
# query
query = '''SELECT *
            FROM category
            WHERE new_store >= 30
            ORDER BY new_store_per ;'''

# query 실행
with conn.cursor() as cursor:
    cursor.execute(query)
    result = cursor.fetchall()

# 결과 출력
print(f'조건에 일치하는 카테고리: 총 {len(result)}개')
result_df = pd.DataFrame(result, columns=['category_name', 'year', 'new_store', 'new_store_per', 'cancel_store', 'cancel_store_per'])
result_df

조건에 일치하는 카테고리: 총 9개

,category_name,year,new_store,new_store_per,cancel_store,cancel_store_per
0,치킨,2022,45,6.88,66,10.09
1,분식,2022,54,8.37,71,11.01
2,기타 외식,2022,115,9.46,141,11.60
3,주점,2022,47,12.57,36,9.63
4,일식,2022,64,15.88,42,10.42
5,한식,2022,410,16.70,287,11.69
6,제과제빵,2022,43,17.00,33,13.04
7,커피,2022,142,18.09,63,8.03
8,중식,2022,53,20.54,24,9.30

In [38]:
# query
query = '''SELECT *
            FROM category
            WHERE cancel_store_per >= 10
            ORDER BY cancel_store DESC
            LIMIT 5 ;'''

# query 실행
with conn.cursor() as cursor:
    cursor.execute(query)
    result = cursor.fetchall()

# 결과 출력
print(f'조건에 일치하는 카테고리: 총 {len(result)}개')
result_df = pd.DataFrame(result, columns=['category_name', 'year', 'new_store', 'new_store_per', 'cancel_store', 'cancel_store_per'])
result_df

조건에 일치하는 카테고리: 총 5개

,category_name,year,new_store,new_store_per,cancel_store,cancel_store_per
0,한식,2022,410,16.70,287,11.69
1,기타 외식,2022,115,9.46,141,11.60
2,분식,2022,54,8.37,71,11.01
3,치킨,2022,45,6.88,66,10.09
4,일식,2022,64,15.88,42,10.42

In [39]:
# MySQL DB Connection 종료
conn.close()